.update {
    position: absolute;
    left: 0;
    top: 8px;
    cursor: pointer;
}

.cities {
    width: 95%;
    margin: 0 auto 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-left: 40px;
}

.btnCity {
    background-color: #610fc0;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    color: antiquewhite;
    width: 130px;
    margin: 8px;
}

.btnActivity {
    background-color: #53549e;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    color: antiquewhite;
    margin: 3px;
}

.btnCity:hover,
.btnCity:focus,
.btnActivity:hover,
.btnActivity:focus {
    outline: none;
    transform: scale(1.1);
    background-color: #3c037c;
}

.list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

.listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;

}

.link {
    width: 200px;
}

.caption {
    font-weight: 500;
}

/*  */
.animeClubs-enter {
    opacity: 0;
}

.animeClubs-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.animeClubs-exit {
    opacity: 1;

}

.animeClubs-exit-active {
    opacity: 0;
    transition: opacity 100ms ease-in;

}